.footer__author {
  margin: 0;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.1;
}

@media screen and (max-width: 720px) {
  .footer__author {
    font-size: 14px;
    line-height: 1;
  }
}