.intro__container {
  margin-left: 148px;
  max-width: 690px;
  }

  @media screen and (max-width: 1140px) {
    .intro__container {
      margin-left: 48px;
    }
  }
  
  @media screen and (max-width: 960px) {
    .intro__container {
      margin-left: 24px;
    }
  }
  
  @media screen and (max-width: 425px) {
    .intro__container {
      max-width: 288px;
      margin-left: 12px;
    }
  }
