.header__lang-links {
  display: flex;
  padding: 0;
  text-decoration: none;
  font-size: 24px;
  line-height: 116%;
  font-weight: 400;
}

@media screen and (max-width: 425px) {
  .header__lang-links {
    font-size: 18px;
    line-height: 1.1;
  }
  }