@import url(../font/Inter-3/InterWeb/inter.css);
@import url(../vendor/normalize.css);


.body {
  background-color: #2A2C2F;
  font-family: inter;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  color: #FFFFFF;
}

.page {
  min-width: 320px;
  max-width: 1280px;
  margin: 0 auto;
  overflow: hidden;
}

/* -------header------ */
.header {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
}

.header__logo {
  background-image: url(../images/header/__logo.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 176px;
  height: 52px;
  margin: 28px 0 0 48px;
}

.header__lang-links {
  display: flex;
  padding: 0;
  text-decoration: none;
  margin: 46px 48px 0 0;
  font-size: 24px;
  line-height: 116%;
  font-weight: 400;
}

.header__lang-link {  
  text-decoration: none;
  margin-right: 18px;
  color: #FFFFFF;
}
.header__lang-link_activ {
  text-decoration-line: underline;
}

.header__lang-link:nth-last-child(1){
  margin: 0;
}

@media screen and (max-width: 1140px) {
 
  }

@media screen and (max-width: 960px) {
  .header__logo {
    margin: 28px 0 0 28px;
  }

  .header__lang-links {
  margin: 46px 24px 0 0;
  }
  }

@media screen and (max-width: 620px) {
  .header__logo {
    width: 142px;
    height: 42px;
    margin: 16px 0 0 16px;
  }

  .header__lang-links {
    margin: 30px 16px 0 0;
    font-size: 18px;
    line-height: 1.1;
  }
  }

/* ----------lead---------- */
.lead {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.lead__title {
  margin: 56px auto 32px ;
  max-width: 720px;
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 1;
  text-align: center;
}

.lead__subtitle {
  margin: 0 auto 64px;
  max-width: 620px;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
}

.lead__image-container {
  max-width: 984px;
  overflow: hidden;
  margin: auto;
}

.lead__image{
  width:100%;
  object-fit: cover;
}

.lead__caption {
  margin: 8px 0 0;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 1.4;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

@media screen and (max-width: 1140px) {
  .lead__image-container {
    max-width: 928px;
  }

  .lead__subtitle {
    margin: 0 auto 56px;
    }

  .lead__title {
    margin: 48px auto 32px ;
    }
  }

@media screen and (max-width: 960px) {
  .lead__image-container {
    max-width: 768px;
  }

    .lead__caption {
      margin-left: 24px;
    }
  }

@media screen and (max-width: 670px) {
    .lead__title {
      font-size: 60px;
      }
    }

@media screen and (max-width: 620px) {
  .lead__title {
    margin: 48px auto 16px ;
    max-width: 288px;
    font-weight: 900;
    font-size: 40px;
    line-height: 1.1;
    }

  .lead__subtitle {
    margin: 0 auto 40px;
    font-size: 16px;
    line-height: 1.2;
    }
    .lead__caption {
      margin-left: 24px;
    }
  }

  /* ------------------intro----------------- */

.intro__container {
 margin-left: 148px;
 max-width: 690px;
  }

.intro__title {
  margin: 92px 0 40px;
  font-weight: 900;
  font-size: 54px;
  line-height: 1;
  }

.intro__text {
  margin: 0 0 33px;
  font-size: 16px;
  line-height: 1.6;
  }

.intro__list {
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 12px;
  line-height: 1.5;
  list-style-type: none;
  }

  @media screen and (max-width: 1140px) {
    .intro__container {
      margin-left: 48px;
    }
    }
  
  @media screen and (max-width: 960px) {
    .intro__container {
      margin-left: 24px;
    }
    .intro__title {
      margin-top: 88px;
      }
    }
  
  @media screen and (max-width: 360px) {
    .intro__container {
      max-width: 288px;
      margin-left: 12px;
    }

    .intro__title {
      margin-top: 64px;
      font-size: 32px;
      }
    }


    /* ------------photo----------------- */

.photo {

}

.photo__grid {
  max-width: 1184px;
  margin: auto;
  margin-top: 92px ;
}

.photo__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: grid;
  gap:16px;
  grid-template-columns: repeat(auto-fit,minmax(284px, 1fr));
}

.photo__image {
  max-width: 100%;
  object-fit: cover;
}

  @media screen and (max-width: 1026px) {
    .photo__grid {
      max-width: 928px ;
    }
  }

  @media screen and (max-width: 770px) {
    .photo__grid {
      max-width: 720px ;
    }
  }
    
  @media screen and (max-width: 325px) {
    .photo__grid {
      max-width: 288px ;
    }
    .photo__list {
      gap:12px;
    }
    
  }

/* --------------------------places------------------------ */
.places {
  display: grid;
  row-gap: 80px;
}

.place {
  margin: auto;
  display: grid;
  grid-template-columns: 460px 1fr;
  grid-template-areas:
  "title website"
  "image paragraph"
  "image paragraph";
  max-width: 984px;
  gap: 40px 48px;
  
}

.place__title {
  margin: 0;
  font-weight: 900;
  font-size: 72px;
  line-height: 1;
  grid-area: title;
}

.place__image {
  object-fit: cover;
  max-width: 460px;
  grid-area: image;
}

.place__website {
  grid-area: website;
  align-self: end;
}

.place__url {
  margin: 0;
  font-weight: normal;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 2px;
  color: #AAAAAA;
  padding-bottom: 12px;
}

.place__link {
  font-weight: normal;
  font-size: 18px;
  line-height: 1.2;
  color: #FFFFFF;
  text-decoration: none;
  text-decoration-line: underline;
}

.place__paragraph {
  margin: 0;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.6;
  grid-area: paragraph;
}

@media screen and (max-width: 1140px) {
  .place {
    grid-template-columns: 440px 1fr;
    max-width: 928px;
    column-gap: 32px;
  }

  .place__image {
    max-width: 440px;
  }
}

@media screen and (max-width: 770px) {
  .places {
    row-gap: 73px;
  }

  .place {
    grid-template-columns: 340px 1fr;
    max-width: 720px;
    column-gap: 28px;
  }

  .place__image {
    max-width: 340px;
  }
  
  .place__title {
    font-size: 42px;
    line-height: 1.1;
  }

  .place__paragraph {
    font-size: 16px;
  }
}

@media screen and (max-width: 620px) {

  .places {
    row-gap: 50px;
  }
  
  .place {
    grid-template-columns: 320px;
    grid-template-areas:
    "title"
    "website"
    "image"
    "paragraph";
    max-width: 984px;
    gap: 32px 0;
    
  }
  
  .place__title {
    font-size: 32px;
    padding: 0 16px;
  }

  .place__paragraph {
    padding: 0 16px;
  }

  .place__website {
    padding: 0 16px;
  }
  
  .place__image {
    max-width: 320px;
  }
}

/* --------------------------cover--------------------------- */

.cover {
  max-width: 1184px;
  margin: auto;
}

.cover__container {
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  background-image: url(../images/cover/cover-trains.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-decoration: none;
  min-height: 740px;
  color: #FFFFFF;
  position: relative;
}

.cover__container::before {
content: "";
width: 100%;
height: 100%;
background-color: #2A2C2F;
position: absolute;
opacity: 0.3;
}

.cover__container:hover:before{
  opacity: 0.8;
  transition: 0.4s;
}

.cover__title {
  margin: 0 0 32px;
  max-width: 560px;
  font-weight: 900;
  font-size: 72px;
  line-height: 1;
  text-align: center;
  z-index: 1;
}

.cover__subtitle {
  margin: 0;
  max-width: 360px;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.2;
  text-align: center;
  z-index: 1;
}

@media screen and (max-width: 1140px) {
  .cover__container {
    min-height: 640px;
  }
}

@media screen and (max-width: 770px) {
  .cover__container {
    min-height: 480px;
  }
}

@media screen and (max-width: 620px) {
  .cover__container {
    min-height: 200px;
  }

  .cover__title {
  max-width: 255px;
  font-size: 32px;
  line-height: 1.1;
  }

  .cover__subtitle {
    max-width: 288px;
    font-size: 14px;
    margin-bottom: 16px;
    line-height: 1.1;
  }
}

/* -------------------------footer------------------------- */

.footer {
  padding: 0 48px;
  margin: auto;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 24px;
}

.footer__links {
  display: flex;
}

.footer__link {
  margin-right: 12px;
  text-decoration: none;
  color: #FFFFFF;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.1;
}

.footer__link:last-child {
  margin: 0;
}

.footer__author {
  margin: 0;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.1;
}


@media screen and (max-width: 960px) {
  .footer {
    padding: 0 24px;
  }
}

@media screen and (max-width: 720px) {
  .footer {
    padding: 0 0 0 16px;
    margin: auto;
  }
  
  .footer__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .footer__links {
    display: flex;
    flex-direction: column;
  }
  
  .footer__link {
    font-size: 24px;
    line-height: 1;
    margin: 0 0 32px;
  }
  
  .footer__link:last-child {
    margin-bottom: 48px;
  }
  
  .footer__author {
    font-size: 14px;
    line-height: 1;
  }
  
  }