@import url(../font/Inter-3/InterWeb/inter.css);
@import url(../vendor/normalize.css);


.body {
  background-color: #2A2C2F;
  font-family: inter;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  color: #FFFFFF;
}

.page {
  min-width: 320px;
  max-width: 1280px;
  margin: 0 auto;
  overflow: hidden;
}

/* -------header------ */
.header {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
}

.header__logo {
  background-image: url(../images/header/__logo.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 176px;
  height: 52px;
  margin: 28px 0 0 48px;
}

.header__lang-links {
  display: flex;
  padding: 0;
  text-decoration: none;
  margin: 46px 48px 0 0;
  font-size: 24px;
  line-height: 116%;
  font-weight: 400;
}

.header__lang-link {  
  text-decoration: none;
  margin-right: 18px;
  color: #FFFFFF;
}
.header__lang-link_activ {
  text-decoration-line: underline;
}

.header__lang-link:nth-last-child(1){
  margin: 0;
}

@media screen and (max-width: 1140px) {
 
  }

@media screen and (max-width: 960px) {
  .header__logo {
    margin: 28px 0 0 28px;
  }

  .header__lang-links {
  margin: 46px 24px 0 0;
  }
  }

@media screen and (max-width: 620px) {
  .header__logo {
    width: 142px;
    height: 42px;
    margin: 16px 0 0 16px;
  }

  .header__lang-links {
    margin: 30px 16px 0 0;
    font-size: 18px;
    line-height: 1.1;
  }
  }

/* ----------lead---------- */
.lead {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.lead__title {
  margin: 56px auto 32px ;
  max-width: 720px;
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 1;
  text-align: center;
}

.lead__subtitle {
  margin: 0 auto 64px;
  max-width: 620px;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
}

.lead__imgae-container {
  max-width: 984px;
  overflow: hidden;
  margin: auto;
}

.lead__image{
  width:100%;
  object-fit: cover;
}

.lead__caption {
  margin: 8px 0 0;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 1.4;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}


@media screen and (max-width: 1140px) {
  .lead__image{
    min-height: 580px;
    }
  .lead__subtitle {
    margin: 0 auto 56px;
    }
  .lead__title {
    margin: 48px auto 32px ;
    }
  }

@media screen and (max-width: 960px) {
  .lead__image{
    min-height: 480px;
    }
    .lead__caption {
      margin-left: 24px;
    }
  }

  @media screen and (max-width: 670px) {
    .lead__title {
      font-size: 60px;
      }
    }

@media screen and (max-width: 620px) {
  .lead__image{
    min-height: 200px;
    }

  .lead__title {
    margin: 48px auto 16px ;
    max-width: 288px;
    font-weight: 900;
    font-size: 40px;
    line-height: 1.1;
    }

  .lead__subtitle {
    margin: 0 auto 40px;
    font-size: 16px;
    line-height: 1.2;
    }
    .lead__caption {
      margin-left: 24px;
    }
  }
